/* .thumbnail{
    width: 300px;
    display: block;
}
.search-bar{
    height: 40px;
    font-size:16px;
    border: 1px solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display:block;
}

.icon{
    display: inline-block;
    width: 50px
}
.info{
    display: inline-block;
    width: 200px
}
.pfp{
   width: 100%; 
   
}
.video-preview{
    display:inline-block;
    vertical-align: top;
    margin-right: 15px;
} */